<!doctype html>
<html>
  <head>
    <title>User {{ name or "Anonyme" }}</title>
  </head>
  <body>
    <!-- une conditionelle -->
    {% if name %}
    <h1>{{ name }}</h1><!-- une substitution -->
    {% else %}
    <h1>Anonyme</h1>
    {% endif %}
    <ul>
      <!-- une boucle -->
      <li>{{ todo[1] }}</li>
    </ul>
  </body>
</html>
